.sidebar {
    position: relative;
    width: 260px;
    /* Default width of the sidebar */
    background-color: #060606;
    padding: 30px;
    color: #fff;
    height: 100%;
    transition: width 0.3s ease;
    /* Smooth transition for collapsing/expanding */
    display: flex;
    flex-direction: column;

    &.collapsed {
        width: 100px;
        /* Width when collapsed */
        align-items: center;
    }

    .logo {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 3vw;

        h1 {
            margin-left: 10px;
        }
    }

    .toggle-btn {
        position: absolute;
        top: 3vw;
        right: -20px;
        /* Places the button slightly outside the sidebar */
        transform: translateY(-50%);
        /* Centers the button vertically */
        background: #ffffff;
        color: #000;
        border: none;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        &:focus {
            outline: none;
        }

        span {
            font-size: 14px;
        }
    }

    nav {
        margin-top: 20px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    .icon {
        fill: #fff;
        width: 22px;
        margin: 13px 0px;
    }

    a {
        color: white;
        text-decoration: none;
        display: block;
        margin: 10px 10px;

        &.active {
            background-color: #007bff;
        }
    }
}