<aside class="sidebar" [ngClass]="{'collapsed': isCollapsed}">
    <a href="" class="logo">
        <img src="assets/images/logo-icon.png" alt="Promage logo">
        <h1 *ngIf="!isCollapsed">Promage</h1>
    </a>
    <button (click)="toggleSidebar()" class="toggle-btn">
        <span *ngIf="isCollapsed">&#x276F;</span> <!-- Right Arrow -->
        <span *ngIf="!isCollapsed">&#x276E;</span> <!-- Left Arrow -->
    </button>
    <nav class="sidebar-items">
        <ul>
            <li *ngFor="let item of sidebarItems">
                <div class="sidebar-item">
                    <img [src]="'assets/icons/' + item.icon + '.svg'" class="icon" alt="{{ item.title }} icon">
                    <a [routerLink]="item.route" routerLinkActive="active" *ngIf="!isCollapsed">{{ item.title }}</a>
                </div>
            </li>
        </ul>
    </nav>
</aside>