/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'AeonikProTrial', sans-serif;
}

.flex {
    display: flex;
}

@mixin generate-margin-classes($property, $values) {
    @each $value, $size in $values {
        @if $property =='ml' {
            .ml-#{$value} {
                margin-left: $size;
            }
        }

        @else if $property =='mr' {
            .mr-#{$value} {
                margin-right: $size;
            }
        }

        @else if $property =='mt' {
            .mt-#{$value} {
                margin-top: $size;
            }
        }

        @else if $property =='mb' {
            .mb-#{$value} {
                margin-bottom: $size;
            }
        }
    }
}

$margin-values: (
    1: 0.5rem,
    2: 1rem,
    3: 1.5rem,
    4: 2rem
);

@include generate-margin-classes('ml', $margin-values);
@include generate-margin-classes('mr', $margin-values);
@include generate-margin-classes('mt', $margin-values);
@include generate-margin-classes('mb', $margin-values);


@font-face {
    font-family: 'AeonikProTrial';
    src: url('assets/fonts/aeonikprotrial-light.otf') format('opentype');
    font-weight: 300;
    /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'AeonikProTrial';
    src: url('assets/fonts/aeonikprotrial-regular.otf') format('opentype');
    font-weight: 400;
    /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'AeonikProTrial';
    src: url('assets/fonts/aeonikprotrial-bold.otf') format('opentype');
    font-weight: 700;
    /* Bold weight */
    font-style: normal;
}