.card {
    background: white;
    border-radius: 8px;
    padding: 18px;

    h5 {
        color: #797979;
        font-weight: 400;
        margin-bottom: 10px;
    }

    h1 {
        color: #060606;
        font-weight: 600;
        margin-bottom: 10px;
    }

    p {
        color: #060606;
        font-weight: 200;
        font-size: 12px;
    }

    .card-icon {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
        }
    }

    .value-group {
        display: flex;
        align-items: center;
    }
}